.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 254, 254);
    padding: 8px;;
}
.links ul{
display: flex;
gap: 1em;
}
.links li{
    transition: color 0.3s;
}
.links li:hover{
 color :#0066ff;
}
.logo{
    margin-left: 20em;
}
.icone{margin-right: 2em;}